:root {
    --text-color: hsla(0, 0%, 27%, 1);
    --text-secondary-color: hsla(0, 0%, 27%, 0.7);

    --link-color: hsla(202, 100%, 38%, 1);
    --link-underline-color: hsla(202, 100%, 38%, 0.15);

    --link-hover-color: hsla(16, 100%, 35%, 1);
    --link-hover-underline-color: hsla(16, 100%, 35%, 0.15);

    --link-visited-color: hsla(195, 29%, 56%, 1);
    --link-visited-underline-color: hsla(195, 29%, 56%, 0.15);
}

::selection {
    background-color: #b3d4fc;
    /*color: #fe57a1;*/
}

body {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.7;
    margin: 0.5rem;
}

a {
    text-decoration: none;
    border-bottom: 1px solid var(--link-underline-color);
    color: var(--link-color);
}

a:visited {
    border-bottom: 1px solid var(--link-underline-color);
    color: var(--link-color);
}

a:hover {
    border-bottom: 1px solid var(--link-hover-underline-color);
    color: var(--link-hover-color);
}

.welcome {
    margin: 32px 32px 24px;
}

.welcome h1 {
    margin-bottom: 0;
}

.portfolio {
    padding: 0;
    margin: 24px 24px 32px;
    display: flex;
    flex-wrap: wrap;
    min-height: 30vh;
}

.portfolio a {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 20rem;

    margin: 8px;

    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    font-size: 0.875rem;
    word-break: break-word;
}

.portfolio__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.portfolio__description {
    position: absolute;
    background: hsla(0, 0%, 13%, 0.8);
    color: #fff;
    margin: 8px;
    padding: 4px 12px;
}
